<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12 offset-lg-3 offset-md-2
            offset-sm-0">
            <div class="card p-4">
                <i class="fab fa-node-js text-center" style="font-size:7rem;"></i>
                <a href="/user/register" class="btn btn-primary mt-3">Register</a>
                <a href="/user/login" class="btn btn-danger mt-3">Login</a>
            </div>

        </div>
    </div>
</div>